body { 
    margin: 0; 
    width: 100%;
}
canvas { 
    width: 100%; 
    height: 100% 
}
.cover-element{
    width: 128px; 
    height: 220px;
    overflow: hidden;
    font-size: 2px;
}
.cover-image{
    width: 90%;
}