.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.book-enter-active, .book-leave-active {
  transition: opacity .2s
}
.book-enter, .book-leave-to /* .book-leave-active in <2.1.8 */ {
  opacity: 0
}

body {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

body.no-scroll {
  overflow: hidden;
}

p {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

.indicator {
  text-transform: capitalize;
  color : white;
  background-color : black;
  border-radius : 100px;
  float : left;
  height : 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px; 
  font-family: Montserrat;
  font-weight : 600;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left : 20px;
  padding-right : 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#search-box{
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
  border-radius: 100px;
  position : fixed;
  bottom : 0px;
  left : 50%;
  transform: translate(-50%, 0);
  width : 30%;
  height : 64px;
  margin-bottom : 70px;
  z-index : 4;
  cursor : pointer;
}

#search-icon {
  margin-top : 22px;
  margin-left : 24px;
  margin-right: 24px;
}

#search-input {
  position : absolute;
  margin:0;
  top : 20px;
  left : 64px;
  border : none;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 18px;
  color: #000000;
}

#others-reading-div{
  position : absolute;
  right:16px;
  top : 16px;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #7F7F7F;
  padding : 7px;
}

#zoom-nav-box {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  border-radius: 32px;
  width: 270px;
  height:64px;
  position: fixed;
  right: 10%;
  bottom:70px;
  z-index : 4;
}

#zoom-nav-label {
  margin-top:21px;
  margin-left:30px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: #7F7F7F;
  display: inline-block;
  float:left;
}

.pin {
  width: 8px;
  height: 8px;
  border-radius:4px;
  background: rgba(0,0,0,0.40);
  float: left;
  margin: 28px;
  position: relative;
  cursor: pointer;
}

.pin:hover, .pin-active{
  background: black;
  border: 4px solid #E6E6E6;
  border-radius: 8px;
  margin: 24px;
}

.pin-active::before {
  content: attr(zoomName);
  white-space: nowrap;
  height: 28px;
  border-radius: 20px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-left: 7px;
  padding-right: 9px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.pin-active::after{
  background-color: black;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: -44px;
  left:50%;
  transform: translate(-50%, -50%);
  content: '';
}

#cell {
  position : absolute;
  left : 0px;
  top : 0px;
  width : 244px;
  height : 228px;
}

#cover {
  position : absolute;
  width : 100px;
  height : 168px;
  left : 60px;
  top : 60px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
  background-color : lightgrey;
  object-fit : cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cartouche-box {
  top:100px;
  left:116px;
  position:absolute;
  color:white;
  background-color : black;
  width : 128px;
  height : 84px;
  cursor : pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cartouche-title {
  font-family: Montserrat, sans-serif;
  font-weight : 600;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 15px;
  margin-left : 7px;
  margin-top:7px;
  margin-right : 9px;
  margin-bottom : 0px;
  height:30px;
  overflow: hidden;
}

.cartouche-ellipsis {
  font-family: 'Montserrat', sans-serif;
  margin : 0;
  margin-left : 8px;
  line-height : 3px;
}

.cartouche-author {
  font-family: Montserrat, sans-serif;
  font-weight : 400;
  font-size: 8px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.60);
  margin-left : 8px;
  margin-top : 10px;
  margin-bottom : 0px;
  height : 10px;
  width : 112px;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartouche-date {
  font-family: Montserrat, sans-serif;
  font-weight : 400;
  font-size: 8px;
  color: rgba(255,255,255,0.60);
  margin-left : 8px;
  margin-top : 5px;
}

#inner-theme-orderer {
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
  border-radius: 32px;
  width : 275px;
  position : fixed;
  bottom : 154px;
  left: 10%;
  color: black;
  padding: 32px;
}

.orderer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.selected-orderer {
  color: darkorange;
}

.orderer-asc {
  cursor: pointer;
}

.orderer-desc {
  cursor: pointer;
}

#active-theme-box {
  position : fixed;
  bottom : 70px;
  left: 10%;
}


.return-box {
  background-color: black;
  box-shadow: 0 0 20px 0 rgba(255,255,255,0.20);
  border-radius: 32px;
  width : 200px;
  height :64px;
  cursor: pointer;
  filter: invert(100%)
}

#active-theme-label {
  text-transform: capitalize;
  font-family: Montserrat;
  font-size: 18px;
  color: white;
  margin-top: 21px;
  margin-left:64px;
  position: absolute;
}

.return-box span:first-child {
  width: 16px;
  height: 16px;
  background-image: url("/res/go-back-left-arrow.svg");
  background-size: contain;
  content: '';
  top:24px;
  left:24px;
  position: absolute;
  cursor: pointer;
}

.order-button {
  width: 17px;
  height: 18px;
  background-image: url("/res/pictoFilter.png");
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  top:0px;
  left:250px;
  position: absolute;
  cursor: pointer;
  background-color: black;
  filter: invert(100%);
  box-shadow: 0 0 20px 0 rgba(255,255,255,0.20);
  border-radius: 32px;
  width : 64px;
  height :64px;
}

/*Book detail modal*/

#blurrer {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,62,135,0.81);
  height: 100vh;
  width: 100vw;
  z-index: 5; 
}

#book-modal-wrapper {
  width: 787px;
  height: 88vh;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0);
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 30px 29px 0 rgba(0,0,0,0.50);
}

#scroll-hide-wrapper {
  width: 787px;
  height: 88%;
  top: 59px;
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
}

#scroll-hide {
  height:100%;
  width:100%;
  overflow: auto;
  padding-right: 17px;
}


#cover-title-wrapper {
  position: relative;
  margin: 48px 48px 0px 48px;
}

#disponibility-wrapper {
  margin: 5px 48px 0px 48px;
}

#book-location {
  width: 190px;
}

#reading-url a {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}

#fav-wrapper{
  display: inline-block;
  width: 285px;
  height: 20px;
  vertical-align: top;
}

#fav-element{
  margin-top: -40px;
  transform: translate(170px,80px);
  background-color: black;
  width:40px;
  height: 40px;
  border-radius: 32px;
  border: 3px solid white;
  cursor: pointer;
}

#fav-wrapper p{
  text-align:center;
}

#fav-element img{
  width: 27px;
  margin-top:50%;
  margin-left:50%;
  transform: translate(-50%,-50%);
  filter: invert(100%);
}

#info-wrapper{
  margin-bottom: 20px;
  display: inline-block;
  width:437px;
}

#authors-wrapper {
  margin: 7px 48px 0px 0px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  line-height: 30px;
}

#authors-wrapper span{
  text-decoration: underline solid grey;
  cursor : pointer;
}

#authors-wrapper span::after {
  content: ", ";
  text-decoration: none;
}

#authors-wrapper span:last-child::after {
  content: "";
}

#publication-wrapper {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin: 44px 48px 0px 0px;
  text-decoration: underline;
}

#publication-wrapper p {
  cursor : pointer;
}

#vedettes-wrapper {
  margin: 44px 48px 0px 0px;
}

#vedettes-wrapper #continue-to-explore {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  color: #D2D2D2;
}

#vedettes-wrapper div {
  display: inline-block;
  background: #000000;
  border-radius: 100px;
  color:white;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  padding: 3px 9px 4px 9px;
  margin-top:8px;
  margin-right:6px;
  cursor: pointer;
}

#book-description {
  margin: 44px 48px 32px 0px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  line-height: 22px;
}

#close-button {
  width: 47px;
  height: 47px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: black;
  cursor: pointer;
}

#close-button img{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#disponibility-text {
  margin:0;
  font-family: Montserrat;
  font-size: 10px;
  color: #009A1A;
  text-transform: uppercase;
}

#disponibility-cote {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin:3px 0 0 0;
}

#disponibility-cote > span {
  font-weight: 600;
}

#book-location {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin:3px 0 0 0;
}

#book-location > span {
  font-weight: 600;
}

#reading-url {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin:3px 0 0 0;
  text-decoration: underline;
}

#reading-url > span {
  font-weight: 600;
}

#cover-image {
  width: 190px;
  height: 320px;
  object-fit: cover;
}

#cover-book-title {
  position: absolute;
  top: 45px;
  left: 8px;
  width: 170px;
  height: 310px;
}

#title-wrapper {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  line-height: 40px;
  margin-left: 48px;
  max-width: 423px;
}

#title-wrapper p {
  margin:0;
}

.blurred{
  filter: blur(10px);
}

/*Enter theme button for outer-theme-map and theme-map*/

.enter-theme-button {
  width:48px;
  height: 48px;
  border-radius: 25px;
  background-color: black;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  position:absolute;
  top:58%;
  left:50%;
  transform: translate(-50%,0);
  z-index:3;
  text-align: 'center';
  cursor: pointer;
}

.enter-theme-button img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:20%;
}

.theme-element {
  position: absolute;
  margin: 20px;
}

.company-logo {
  opacity: 0.27;
  position: relative;
  left: 89.5%;
  top: -160px;
  width: 0.9em;
}

.theme-cover {
  opacity: 0.8;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px  rgba(0,0,0,0.15);
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
}

.theme-cover-opaq {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  position: absolute;
  top:0;
  left: 0;
  background-color: white;
  z-index: 0;
}

.theme-lvl1 {
  position: absolute;
  left: -10px;
  top: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 10px;
  height: 130px;
  opacity: 0.6;
  box-shadow: inset 0 0 0 1px  rgba(0,0,0,0.15);
}

.theme-lvl2 {
  position: absolute;
  left: -20px;
  top: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 10px;
  height: 110px;
  opacity: 0.3;
  box-shadow: inset 0 0 0 1px  rgba(0,0,0,0.05);
}

.enssib-deco {
  position: absolute;
  height: 80px;
  top: 60px;
  left: 10px;
  z-index: 1;
}

.theme-name {
  position: absolute;
  top: 150px;
  left: -10px;
}

.theme-nb-docs {
  position: absolute;
  top: 174px;
  left: -10px;
  font-weight: 600;
  font-size: 14px;
  color: #999999;
  margin-top: 0;
  text-align: center;
  width: 140px;
}

/*Search Query Builder*/

#blurred-background {
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color : rgba(0,62,135,0.81);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#search-elements-wrapper {
  align-self: center;
  width: 1200px;
  text-align: left;
  margin-top: 128px;
}

#search-elements-wrapper > img{
  width: 21px;
}

#search-elements-wrapper > span{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 80px;
  margin:32px 0px 16px 32px;
}

.search-term-wrapper{
  display:inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  margin:16px 0px 16px 6px;
}

.search-term-boolean-operator {
  color: white;
}

.search-term-boolean-operator-term {
  display: contents;
}

.up-down-arrow {
  position:absolute;
  cursor: pointer;
}

.up-arrow {
  transform: translate(5px,-26px);
}

.down-arrow {
  transform: rotate(180deg) translate(-4px,-4px);
}

.search-term-field-desc {
  color: white;
}

.search-term {
  display: inline-block;
  color: black;
  background-color: green;
  border-radius:2px;
  height:32px;
  padding-top: 12px;
  padding-left:22px;
}

.search-term > img {
  width: 12px;
  height: 12px;
  margin-right: 9px;
  filter: invert(100%);
  cursor: pointer;
}

.search-term > span {
  margin: 12px 30px 14px 0px;
}

#add-term-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  transform: translate(0,20%);
  margin: 16px 32px 16px 32px;
}
#add-term-button > img{
  width: 32px;
}

#search-term-input-wrapper {
  display: inline-block;
  margin-left: 16px;
  width: 100%;
}

#search-term-input{
  display:inline-block;
}

#search-term-input{
  width: 100%;
  max-width: 360px;
  height: 64px;
  background-color: white;
  font-family: Montserrat;
  border-radius: 100px;
  position: relative;
}

#search-term-input > img {
  width: 20px;
  margin-top: 22px;
  margin-left: 24px;
}

#search-term-input > input{
  float: left;
  position: absolute;
  margin-left: 26px;
  margin-top: 20px;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 16px;
  color: #000000;
  border: none;
  outline: none;
  width: calc(100% - 80px);
}

#search-term-input > input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  color: #000000;
}

#suggestion-wrapper{
  background: #FFFFFF;
  border-radius: 4px;
  width: 275px;
  margin-top: 16px;
  margin-left: 26px;
  padding: 25px;
  position: absolute;
}

.suggestion-categ {
  color: #C7C7C7;
  font-family: Montserrat;
}

.suggestion-categ hr {
  border: 0;
  height: 1px;
  background: #A7A7A7;
  margin-top: 0;
}

.suggestion-categ-title {
  font-size: 14px;
  margin-bottom:1px;
  display: inline-block;
  width: 220px;
  text-align: left;
  text-decoration: underline;
  color: black;
}

.suggestion-categ-voirtout {
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  color: #A7A7A7;
}

.suggestion-name {
  font-size: 14px;
  color: #A7A7A7;
  width: 220px;
  display: inline-block;
  text-align: left;
  cursor : pointer;
}

.suggestion-count {
  font-size: 12px;
  width:55px;
  text-align:right;
  color: #A7A7A7;
}

#search-start-button-wrapper {
  text-align: center;
}

#search-start-button{
  color: white;
  border-radius: 50px;
  font-family: Montserrat;
  font-size: 30px;
  padding:16px 22px 16px 22px;
  margin:16px 0px 16px 0px;
  display: inline-block;
  align-self:center;
  cursor: pointer;
}

#upper-hits-wrapper {
  text-align: center;
  display: inline-block;
}

#search-start-button > p:first-of-type{
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  margin:0;
  line-height: 38px;
}

#search-start-button hr {
  margin:0;
  border: 0;
  height: 1px;
  background-color: white;
}

#upper-hits-wrapper hr::after {
  content: "";
  margin:0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg) translate(-115%, 50%);
  height: 10px;
  width: 10px;
  display: block;
  position: relative;
  left:100%;
}

#upper-hits-wrapper p:last-of-type{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin:0 20px 0 0;;
  display: inline-block;
}

#search-start-button img{
  width: 30px;
  margin-left : 0px;
  display: inline-block;
}

#close-search-button {
  position: fixed;
  top: 24px;
  left: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#close-search-button img{
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

/* Outer Map book cover style */
.outer-map-book-cell {
    display: inline-block;
    width: 35px;
    height: 65px;
}

.outer-map-book-cover {
    width : 5px;
    height : 35px;
    margin-left : 15px;
    margin-top : 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
    -webkit-user-drag: none;
    user-select: none;
    background-color: lightgrey;
    object-fit: cover;
}

/* Theme Map book cover style */
.theme-map-book-cell {
    position : absolute;
    width : 116px;
    height : 140px;
}

.theme-map-book-cover{
    position : absolute;
    width : 56px;
    height : 80px;
    left : 30px;
    top : 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
    -webkit-user-drag: none;
    user-select : none;
    background-color : lightgrey;
    object-fit : cover;
    cursor : pointer;
}

.theme-map-generated-book-cover-title {
    position : absolute;
    width : 46px;
    height : 70px;
    font-size : 8px;
    user-select : none;
    margin : 5px;
    overflow : hidden;
    cursor : pointer;
}

/* Inner Map book cover style */
.inner-map-book-cell {
  position: absolute;
  width: 244px;
  height: 228px;
}

.inner-map-book-cover {
  position : absolute;
  width : 110px;
  height : 168px;
  left : 60px;
  top : 60px;
  box-shadow: inset 0 0 0 1px  rgba(0,0,0,0.15);
  -webkit-user-drag: none;
  user-select : none;
  overflow : hidden;
  object-fit : cover;
  background-color : lightgrey;
  cursor : pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inner-map-book-cell-left-deco {
position: absolute;
width: 1px;
height: 154px;
background-color: black;
opacity: 0.2;
top: 7px;
left: 3px;
}

.inner-map-book-cell-bottom-deco {
position: absolute;
width: 15px;
height: 3px;
background-color: black;
bottom: 4px;
left: calc(50% - 8px);
}

.inner-map-generated-book-cover-title {
  position : absolute;
  width : 96px;
  height : 154px;
  font-size : 8px;
  user-select : none;
  margin : 8px;
  overflow : hidden;
  cursor : pointer;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

/* FavStore style */
#fav-collection-button {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
  position: fixed;
  right: 35px;
  top: 37px;
  z-index : 4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fav-counter {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#fav-collection {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  position: fixed;
  right: 35px;
  top: 37px;
  z-index : 4;
  width: 633px;
  height: 63vh;
  border-radius: 8px;
  text-align: center;
}

#fav-collection-close-text {
  position: absolute;
  top: 23px;
  left: 23px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}

#fav-collection-close-text > span {
  vertical-align: middle;
}

#fav-collection-close-cross {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}

#fav-collection-box-title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #000000;
  margin-top: 22px;
}

#fav-collection-items-wrapper {
  overflow-y: scroll;
  height: 48vh;
  margin-right: 9px;
}

#fav-collection-fade-bottom {
  content:'';
  position: fixed;
  top: 48vh;
  margin-top: 60px;
  width: 622px;
  height: 25px;
  margin-right: 9px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#fav-collection-fade-top {
  content:'';
  height: 35px;
  margin-right: 9px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  width: 622px;
}

/*
 *  STYLE 1
 */

 #fav-collection-items-wrapper::-webkit-scrollbar-track
 {
   border-radius: 10px;
 }
 
 #fav-collection-items-wrapper::-webkit-scrollbar
 {
   width: 2px;
   padding-right: 9px;
   background-color: rgba(0,0,0,0.2)
 }
 
 #fav-collection-items-wrapper::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #000000;
 }

#fav-collection-counter {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.fav-collection-item {
  display: grid;
  grid-template-columns: 84px 1fr 60px;
  margin-bottom: 18px;
  margin-left: 23px;
  margin-top: 30px;
  height: 144px;
  overflow: hidden;
}

.fav-collection-img {
  width: 84px;
  height: 144px;
  grid-column: 1;
}

.fav-collection-img > p {
  font-size: 10px;
  text-align: left;
}

.fav-collection-text-wrapper {
  grid-column: 2;
  margin-left: 8px;
}

.fav-collection-book-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color: #000000;
}

.fav-collection-authors-wrapper {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  text-decoration: underline;
}

.fav-collection-book-description {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0,0,0,0.50);
  text-overflow: ellipsis;
  text-align: left;
}

.fav-collection-trash-icon {
  grid-column: 3;
  cursor: pointer;
}

.fav-collection-trash-icon img {
  position: relative;
  top: 72px;
  transform: translateY(-50%);
}

#fav-collection-button-send-mail-div {
  margin-top: 22px;
}

.fav-collection-button-black {
  background: #000000;
  border-radius: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  padding: 14px 17px 14px 17px;
  cursor: pointer;
  margin: 8px;
  display: inline-block;
}

.fav-collection-button-white {
  background: #FFFFFF;
  border-radius: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.50);
  padding: 14px 17px 14px 17px;
  cursor: pointer;
  margin: 8px;
}

.fav-collection-state-wrapper {
  width: 285px;
  margin: 0 auto;
}

.fav-collection-state-wrapper p {
  text-align: left;
}

#fav-collection-email-input{
  border-bottom: 1px solid #949494;
  border-top: none;
  border-left: none;
  border-right: none;
  width: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 35px;
}

.fav-collection-big-svg {
  margin-top: 100px;
  margin-bottom: 80px;
}

#fav-collection-email-result {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #949494;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 35px;
}

.load-rolling-spinner {
  position: fixed;
  top: 32%;
  left: calc(50% - 30px);
  width: 60px;
  background-color: white;
  border-radius: 10px;
  opacity: 0.5;
}

@media (max-width: 1300px) {
  #footer-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 5;
  }
  
  #constant-footer-wrapper{
    width: fit-content;
    margin-left: 50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
  }

  #active-theme-box {
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    height: 64px;
  }
  
  #inner-theme-orderer {
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
  }
  
  #search-box {
    position: static;
    width: 64px;
    height: 64px;
    margin-left: 50%;
  }

  #search-input {
    display: none;
  }

  #others-reading-div {
    display: none;
  }
  
  #zoom-nav-box {
    position: static;
    margin-left:10px;
  }

  #search-elements-wrapper {
    width: 45%;
  }

  #book-modal-wrapper {
    width: 95vw;
  }

  #scroll-hide-wrapper {
    width: 95vw;
  }
  #title-wrapper {
    margin-left: 0;
  }

  #info-wrapper {
    width: auto;
    margin: 5px 48px 0px 48px;
  }

  #fav-collection {
    width: 95vw;
    top: 120px;
    right: 2vw;
  }

  #fav-collection-fade-bottom {
    top: calc(48vh + 83px);
  }

  .fav-collection-big-svg {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}


@media (max-width: 600px) {
  #fav-collection-button {
    top: 120px;
  }
}

@media (max-width: 445px) {
  .return-box {
    width: 160px;
  }

  .order-button {
    left: 170px;
  }

  #search-elements-wrapper {
    width: 80%;
  }

  #footer-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    justify-content: center;
  }
}