<!DOCTYPE html>
<html lang="fr">
    <head>
		<meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>Bibliotouch</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <div id="matomo-setting" data-matomo-url="" data-site-id=""></div>
	</head>
	<body>

        <div id="app">
            <book-detail    v-if="showBookModal"
                            v-bind:book="currentBook"
                            v-on:close-book-modal="closeBookModal">
            </book-detail>
            <div id="app-content">
                <router-view    v-on:current-theme-changed="updateCurrentTheme"
                                v-on:show-book-detail="showBookDetail">
                </router-view>
                <fav-collection-button v-if="!showFavStore" v-on:open-fav-store="toggleFavStore"></fav-collection-button>
                <fav-collection v-if="showFavStore" v-on:close-fav-store="toggleFavStore"></fav-collection>
                <div id="footer-wrapper">
                    <inner-theme-orderer v-if="showThemeOrderer"></inner-theme-orderer>
                    <active-theme-box  @show-theme-orderer="toggleThemeOrderer()"></active-theme-box>
                    <div id="constant-footer-wrapper">
                        <search-box v-on:show-search-query-builder="showSearchQueryBuilder()"></search-box>
                        <!--<zoom-nav-box v-bind:current-theme="currentTheme"></zoom-nav-box>-->
                    </div>
                </div>
            </div>
            <search-query-builder   v-if="showSearchQueryBuilderModal"
                                    v-on:hide-search-query-builder="hideSearchQueryBuilder()"></search-query-builder>
        </div>
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                    var u="//analyseweb.enssib.fr/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '4']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
        <script src="scripts/bundle.js"></script>
	</body>
</html>